#llm api
gemini_api_key : OPTIONAL
groq_api_key :

#tracking
langchain_tracking_v2 = "true"
langchain_api_key : OPTIONAL
langchain_project = "DeLabs_Dev"
wandb_api_key : OPTIONAL

#infra
database_url 
rabbitmq_url 

#app config
environment : "development"
debug :  True
