langchain
langgraph
langchain-google-genai
langchain-groq
langchain-mcp-adapters
pydantic
pydantic-settings



psycopg2-binary
sqlalchemy
celery[redis]

python-dotenv
httpx
jinja2


pytest
pytest-asyncio

fastapi
uvicorn

mcp